.title {
  margin: 0px;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.27;
}

.description {
    margin: 10px 0px 0px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.57;
    color: var(--tertiary-color);
}
