:root {
    --primary-color: #b7eb00;
    --secondary-color: #b7eb0047;
    --tertiary-color: #6c7365;
    --text-color: #364152;
    --white-color: #fff;
    --black-color: #000;
    --hover-color: #17181636;
}