.mainLogo {
    height: auto;
    width: 100%;
}

.dashboardContainer {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    box-shadow: #503f6fcd 0px 2px 14px 0px;

    h1 {
        color: var(--black-color);
        padding-top: 20%;
    }

    p {
        color: var(--black-color);
        padding-top: 20px;
        font-size: 22px;
    }
}