.actions {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    flex-shrink: 0px;
    margin-right: 0.5px;
}

.dateLabels {
    margin-left: 50px;
    margin-top: 18px;
}

.action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 130px;
    color: var(--black-color);

    &:hover {
        color: var(--black-color);
    }
}