.stepper-root {
    width: 100%;
    background-color: #d8d5d5;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 24px;
}

.stepLabelRoot {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 5px;
}

.stepLabel {
    border-radius: 50px;

    span {
        .Mui-active {
            color: #6c7365;
        }
        svg {
            margin-bottom: 6px;
            width: 1.5em;
            height: 1.5em;
        }
    }
}