// color variants
@import 'themes-vars.module.scss';
@import './buttonPage.scss';
@import './colorCode.scss';

// third-party

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //



// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }
}

.main-logo {
  height: auto;
  width: 75%;
}

.dashboard-container {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  box-shadow: rgba(80, 63, 111, 0.805) 0px 2px 14px 0px;

  h1 {
    color: var(--black-color);
    padding-top: 20%;
  }

  p {
    color: var(--black-color);
    padding-top: 20px;
    font-size: 22px;
  }
}

.scrollBarDiv {
  padding-left: 16px;
  padding-right: 16px;
}

.profileChipSection {
  height: 48px;
  align-items: center;
  border-radius: 27px;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);

  &[aria-controls='menu-list-grow'],
  &:hover {
    border-color: var(--primary-color);
    background: var(--primary-color) !important;
  }

  .MuiChip-label {
    line-height: 0;
  }
}

.profileAvatar {
  margin: 8px 0 8px 8px !important;
  cursor: pointer;
  background-color: var(--text-color);

  svg {
    color: var(--primary-color);
  }
}

.fixedSideBar {
  display: flex;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 40px;
}

.css-9d4wr9 {
  border-radius: 12px;
  min-height: calc(100vh - 158px);
}

.css-a3bk4d-MuiListItemIcon-root {
  display: none;
}

.scroll-nav {
  height: 100%;
  max-height: calc(100vh - 250px);
  margin-top: -21px;

  nav {
    width: 100%;
    min-width: 350px;
    max-width: 400px;
    border-radius: 10px;

    .MuiListItemButton-root {
      margin-top: 0.5px;
    }
  }
}

.btn_base {
  padding: 15px;
  background-color: rgb(238, 242, 246);
  width: 70px;
  border-radius: 0;
}

.css-kvip5o-MuiToolbar-root {
  padding: 0;
}

.selected_fixed_menu {
  background-color: var(--primary-color);
  color: var(--black-color);
  border-radius: 10px;

  &:hover {
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--black-color);
  }
}

.selected_menu {
  border-radius: 10px;
  background-color: var(--secondary-color);

  &:hover {
    // background-color: var(--primary-color);

  }
}

.option-selected {
  border-radius: 10px;
}

.option-selected:hover {
  background-color: var(--primary-color);
}

.css-doacsn-MuiListItem-root {
  margin-bottom: 5px;
  border-radius: 10px;

  &:hover {
    background-color: $primaryHoverGreenColor;
  }
}

.button-hamburger {
  transition: all 0.2s ease-in-out;
  background: $primaryHoverGreenColor;
  color: var(--text-color);

  &[aria-controls='menu-list-grow'],
  &:hover {
    background: var(--primary-color);
    color: var(--text-color);
  }
}

.email-div {
  height: 48px;
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
  display: flex;
  align-items: center;
}

.hoveredBox {
  display: flex;
  width: 150px;
  flex-shrink: 0;
  margin-left: 1px;
  margin-right: 0.5px;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  flex-shrink: 0px;
  margin-right: 0.5px;
}

.dateLabels {
  margin-left: 50px;
  margin-top: 18px;
}

.description-table {
  width: 745px;
  padding-left: 18px;
}

.option-selected-icon {
  color: var(--text-color);
}
