// color variants
@import './fixedSideBar.scss';
@import './buttonPage.scss';
@import './email.scss';
@import './commonLayout.scss';
@import './dashboard.scss';
@import './profileSection.scss';
@import './colorCode.scss';

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {

  0%,
  50%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {

  0%,
  50%,
  100% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }
}

.scrollBarDrawer {
  padding-left: 16px;
  padding-right: 16px;
}

.btn_base {
  padding: 15px;
  background-color: var(--secondary-color);
  width: 70px;
  border-radius: 0;
}

.css-kvip5o-MuiToolbar-root {
  padding: 0;
}

.selectedMenu {
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #99ba09b0;

  .options {
    border-radius: 10px;

    &:hover {
      background-color: transparent;
    }

    span {
      font-weight: bolder;
    }
  }
}

.buttonHamburger {
  transition: all 0.2s ease-in-out;
  background: transparent;
  color: var(--text-color);

  &[aria-controls='menu-list-grow'] {
    background: transparent;
    color: var(--text-color);
  }
}

.emailDiv {
  height: 48px;
  box-shadow: inset 0 -1px 0 0 #64798f1f;
  display: flex;
  align-items: center;
}

.hoveredBox {
  display: flex;
  width: 150px;
  flex-shrink: 0;
  margin-left: 1px;
  margin-right: 0.5px;
  justify-content: space-between;
}

.descriptionTable {
  width: 745px;
  padding-left: 18px;
}

.css-1dybbl5-MuiChip-label {
  padding-left: 0px !important;
}

.icon-fixed-sidebar-upper {
  border-radius: 22px;
  height: auto;
  position: relative;
  background-color: #99ba09b0;
  width: auto;
  display: flex;
  padding: 8px;
}

.icon-fixed-upper {
  display: flex;
  padding: 8px;
}

.icon-fixed-upper:hover {
  border-radius: 22px;
  height: auto;
  position: relative;
  background-color: var(--hover-color);
  width: auto;
  display: flex;
  padding: 8px;
}

// css for main background color
.css-1d53kat {
  background-color: #1c1c1e0d;
}

.css-12fhpbg {
  background-color: #1c1c1e0d;
}

.bell_icon {
  transition: all 0.2s ease-in-out;
  color: var(--text-color);
  background: white;
}